@import'google-homepage';

body{
background:none ;
}
#pup{
    height: 10em;
    width: 20em;
    position: absolute;
    left: 300px;
    top: 300px;
}

#crescent {
    position: absolute;
    left: 350px;
    top: 300px;
}