// Grand Central Station

@import 'google-homepage';


// First Frame


.pup{
   position: absolute;
    transform: none;
    transition: transform .5s;
    opacity: 1;
    bottom: 60px;
    left: 180px
}

.pup:hover{
    transform: scale(1.5) rotate(0deg);
}


#crescent{
 transform: none;
 transition: transform 2s;
 opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  width:20%;
  border-radius: 50%;
  box-shadow:
    -10px 0 80px yellow,
    10px 0 80px gold;
}
#crescent:hover{
    transform: scale(1.5) rotate(360deg);
}




img  {
    opacity: .5;
    transform: scale(.25) rotate(0);
    width: 40%;
    
    transition: transform .5s;
}

// Last Frame
img:hover {
    opacity: 1;
    transform: scale(1.5) rotate(180deg);
}

#cherry1{
    position: absolute;
    top: 0;
    left: 0;
}

#cherry2{
    position: absolute;
    right: 0;
    bottom: 0;
    
}


// First Frame
.line {
     fill:none;
     stroke:#8cff19;
     stroke-width:30;
     stroke-miterlimit:10;
    
    transition: stroke 1s;
}

// Last Frame
.line:hover {
    stroke: red;
}

